<h2>Posts</h2>
<form action="/posts">
	<input type="text" name="title" value="{{title}}">
	<button type="submit">Search</button>
</form>
<section id="posts">
	{{#each posts as |post|}}
	<div class="post">
		<h3>
			<a class="post__title" href="/posts/{{post._id}}">{{post.title}}</a>, by <span class="post__author">{{post.author}}</span>
		</h3>
		<p class="post__description">{{post.description}}</p>
		<img class="post__image" alt="Post image" src="{{post.image}}">
		<div class="post__tags">
			{{#each post.tags as |tag|}}
			<p class="post__tag">{{tag}}</p>
			{{/each}}
		</div>
	</div>
	{{/each}}
</section>
<a id="create__post" href="/posts/create">+</a>