<section id="post">
	<h3><span>{{title}}</span>, by <span class="post__author">{{author}}</span></h3>
	<p>{{description}}</p>
	<img class="post__detail__image" src="{{image}}" alt="Post image">
	<div class="post__tags">
		{{#each tags as |tag|}}
		<p class="post__tag">{{tag}}</p>
		{{/each}}
	</div>
</section>
<a id="edit__post" href="/posts/{{_id}}/edit">Edit</a>
<a id="delete__post" href="/posts/{{_id}}/delete">Delete</a>

{{#if delete}}
<div class="deleteModal__wrapper">
	<div class="deleteModal">
		Are you sure you want to delete? <form action="/posts/{{_id}}/delete" method="POST"><button type="submit" class="btn btn-primary">Yes</button></form> <a href="/posts/{{_id}}" type="submit" class="btn btn-danger">No</a>
	</div>
</div>
{{/if}}